<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%# hidden_field_tag: https://railsdoc.com/page/hidden_field_tag %>
      <%# f.hidden_field v.s hidden_field_tag: 
      hidden_field is a form helper tied to an object's property, 
      hidden_field_tag is a standalone helper not tied to any object.
      https://qiita.com/Jackson123/items/b46484850ffb1aca36a8 %>
      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
